<div class="container">
    <h2>Registration</h2>
 <form>
   <div class="form-group">
   <label>Email</label>
   <input type="email" name="Email" class="form-control" required [(ngModel)]="user.email">
  </div>
<br>

  <div class="form-group">
    <label>Password</label>
    <input type="password" name="Password" class="form-control" required  [(ngModel)]="user.password">
  </div>
  <br>

  <div class="form-group">
     <label>Company Name:</label>
     <input type="text"  name="CompanyName" class="form-control" required [(ngModel)]="profile.name" >
  </div>
  <br>

  <div class="form-group">
    <label>Description:</label>
    <textarea name="Description" class="form-control" required [(ngModel)]="profile.description" ></textarea>
    </div>
    <br>

         <div class="form-group">
      <label>Date OF Joining:</label>
        <input type="date" [(ngModel)]="profile.dateOfJoining" [ngModelOptions]="{standalone: true}">
           </div>
           <br>

            <div class="form-group">
      <label>Founded In:</label>
       <input type="date" [(ngModel)]="profile.foundedIn" [ngModelOptions]="{standalone: true}">
            </div>
            <br>

             <div class="form-group">
      <label>Address</label>
      <br>
      <label>Street 1:</label>
       <input type="text" [(ngModel)]="profile.street1" [ngModelOptions]="{standalone: true}">
      <br>
      <br>
      <label>Street 2:</label>
        <input type="text" [(ngModel)]="profile.street2" [ngModelOptions]="{standalone: true}">
      <br>
      <br>
             </div>
             <br>
             
              <div class="form-group">
      <label>State:</label>
       <input type="text" [(ngModel)]="profile.state" [ngModelOptions]="{standalone: true}">
      <br>
      <br>
              </div>
               <div class="form-group">
      <label>Country:</label>
        <input type="text" [(ngModel)]="profile.country" [ngModelOptions]="{standalone: true}">
      <br>
      <br>
    </div>
                
      <button (click)="submit()"> Submit</button>
</form>
</div>
  